.editor-section {
    min-height: 100vh;
    background: linear-gradient(135deg, var(--lm-white) 0%, var(--lm-white3) 100%);
    padding: 2rem;
}
body.dark-mode .editor-section {
    background: linear-gradient(180deg, var(--dm-darkblue) 0%, var(--dm-navy) 100%);
}

.form-card {
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    border-radius: 32px;
    box-shadow: 0 20px 40px -12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: fadeInUp 0.5s ease;
}
body.dark-mode .form-card {
    background: rgba(104, 124, 179, 0.399);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-header {
    text-align: center;
    margin: 4rem;
}

.section-title {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.4;
    color: var(--lm-text);
}
body.dark-mode .section-title {
    color: var(--dm-lightbeige);
}

.highlight-title{
    color: var(--lm-accent);
}
body.dark-mode .highlight-title {
    color: var(--dm-gold);
}

/* PHOTO SECTION */
.photo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 2rem ;
}

.profile-preview {
    position: relative;
}

.avatar-placeholder {
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg, var(--lm-accent), var(--lm-accent-2));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: white;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.2);
}
body.dark-mode .avatar-placeholder {
    color: var(--dm-lightbeige);
    background: linear-gradient(135deg, var(--dm-beige), var(--dm-gold));
}

.btn-edit-photo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background: var(--lm-text);
    border: 3px solid var(--lm-white2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--lm-white2);
}

.btn-edit-photo:hover {
    background: var(--lm-accent);
}

.photo-info h4 {
    font-size: 1.1rem;
    color: var(--lm-text);
    margin-bottom: 0.25rem;
}
body.dark-mode .photo-info h4 {
    color: var(--dm-gold);
}

.photo-info p {
    font-size: 0.85rem;
    color: var(--lm-blue);
    margin-bottom: 0.75rem;
}
body.dark-mode .photo-info p {
    color: var(--dm-lightbeige);
}

.photo-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-upload {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: var(--lm-text);
    font-size: 0.85rem;
    border: 2px solid var(--lm-blue);
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}
body.dark-mode .btn-upload {
    color: var(--dm-lightbeige);
    border: 2px solid var(--dm-lightbeige);
}

.btn-upload  i{
    margin-right: 0.3rem;
}

.btn-upload:hover {
    border-color: var(--lm-accent);
    color: var(--lm-accent);
    background: var(--lm-white);
}
body.dark-mode .btn-upload:hover {
    color: var(--dm-navy);
}

.file-hint {
    font-size: 0.75rem;
    color: var(--lm-blue);
}
body.dark-mode .file-hint {
    color: var(--dm-lightbeige);
}

.form-section {
    padding: 2rem 6rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e4dfdf;

}

.accordion-group {
    margin-bottom: 1.25rem;
}

.section-header-forms {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
    padding: 1.5rem;
}

.section-icon {
    width: 48px;
    height: 48px;
    background: rgba(205, 160, 118, 0.1);
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: var(--lm-accent);
}

.section-header-forms h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--lm-text);
    margin-bottom: 0.5rem;
}
body.dark-mode .btn-upload {
    color: var(--dm-lightbeige);
    border: 2px solid var(--dm-lightbeige);
}

.section-header-forms p {
    font-size: 0.85rem;
    color: var(--lm-blue);
}
body.dark-mode .section-header-forms p{
    color: var(--dm-lightbeige);
}


.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem;
}

.input-group label {
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--lm-text);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
body.dark-mode .input-group label {
    color: var(--dm-lightbeige);
}

.input-group label i {
    color: var(--lm-accent);
    width: 20px;
}

.input-group input,
.input-group textarea,
.input-group select {
    padding: 0.85rem 1rem;
    border: 1.5px solid #e5e7eb;
    border-radius: 12px;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    background: white;
}
body.dark-mode .input-group input,
body.dark-mode .input-group textarea,
body.dark-mode .input-group select{
    color: var(--dm-lightbeige);
    background: rgba(2, 15, 77, 0.226);
}
body.dark-mode .input-group input::placeholder,
body.dark-mode .input-group select::placeholder,
body.dark-mode .input-group textarea::placeholder{
    color: var(--dm-lightbeige);
}

.input-group input:focus,
.input-group textarea:focus,
.input-group selec:focus {
    outline: none;
    border-color: var(--lm-accent);
    box-shadow: 0 0 0 3px rgba(205, 160, 118, 0.3);
}

.input-group textarea {
    resize: vertical;
    min-height: 120px;
}

.input-hint {
    font-size: 0.7rem;
    color: var(--lm-blue);
    margin-top: 0.25rem;
}
body.dark-mode .input-hint{
    color: var(--dm-gold);
}

.full-width {
    grid-column: 1 / -1;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1.5rem 2.5rem 2.5rem;
    background: var(--lm-white2);
}
body.dark-mode .form-actions{
    background: var(--dm-blue);
}

.skill-actions {
    display: flex;
    gap: .6rem;
    margin: 1rem 0 1rem 0;
}

.input-group select {
    appearance: none;
}
body.dark-mode .input-group select option{
    background: var(--dm-navy);
    color: var(--dm-gold);
}
.error-message {
    display: block;
    margin-top: 4px;
    color: #dc2626;
    font-size: 0.85rem;
}