* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === TOP BAR === */
.top-navbar {
    height: 50px;
    background: var(--lm-text);
    color: var(--lm-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    font-size: 0.7rem;
}

body.dark-mode .top-navbar{
    background: var(--dm-beige);
}

.top-left {
    display: flex;
    gap: 25px;
}

.top-left span {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 800;
    color: var(--white);
    font-size: 0.7rem;
}

.login-link {
    background: transparent;
    border: none;
    color: var(--lm-white2);
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.login-link i{
    margin-right: 0.2rem;
}

.login-link:hover {
    color: var(--lm-accent); 
    transform: translatex(3px);
}

body.dark-mode .login-link:hover {
    color: var(--dm-navy);
}

/* === LOGO ===*/
.logo-section {
    background: #F8F9FD;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 100;
}

body.dark-mode .logo-section{
    background: var(--dm-darkblue);
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.logo-dev {
    color: var(--lm-text);
    font-weight: 800;
    font-size: 2.3rem;
}

body.dark-mode .logo-dev {
    color: var(--dm-lightbeige);
}

.logo-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body.dark-mode .logo-circle {
    color: var(--dm-lightbeige);
}

.logo-circle img {
    width: 300%;
    height: 300%;
    object-fit: contain;
}

.logo-profile {
    color: var(--lm-yellow);
    font-weight: 800;
    font-size: 2.3rem;
}

.logo-section h1 {
    font-size: 3rem;
    letter-spacing: 2px;
}

.slogan {
    text-align: center;
    color: var(--lm-blue);
    margin-top: 5px;
    font-size: 0.9rem;
}
body.dark-mode .slogan {
    color: var(--dm-lightbeige)
}


/* === MENU === */
.navbar {
    border-bottom: 1px solid #eee;
    background: #F1F4F9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
    position: sticky;
    top: 0;
    /*top: 110px;*/
    z-index: 100;
}

body.dark-mode .navbar {
    background: var(--dm-blue);
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    height: 70px;
}

.nav-links a {
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--lm-text);
    font-weight: 700;
    position: relative;
    transition: .3s;
}

body.dark-mode .nav-links a {
    color: var(--dm-lightbeige);
}

.nav-links a:hover {
    color: var(--lm-accent);
}

body.dark-mode .nav-links a:hover {
    color: var(--dm-gold);
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 3px;
    background: var(--lm-accent);
    transition: .3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.user-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-section span{
    color: var(--lm-white);
    font-size: .9rem;
    font-weight: 600;
    cursor:default;
}

.logout-btn {
    border: none;
    background: var(--lm-accent);
    color: var(--lm-white);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.5rem ;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
body.dark-mode .logout-btn {
    background: var(--dm-darkblue);
}

.logout-btn i{
    margin-right: 0.2rem;
}

.logout-btn:hover {
    background-color: var(--lm-accent-2);
}
body.dark-mode .logout-btn:hover {
    background: var(--dm-lightbeige);
    color: var(--dm-darkblue);
}

.theme-btn {
    border: none;
    width: 64px;
    height: 32px;
    border-radius: 32px;
    cursor: pointer;
    background-color: #cbd5e1;
    position: relative;
    transition: background-color 0.3s ease;
    padding: 0;
}

.theme-btn::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.3s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

body.dark-mode .theme-btn {
    background-color: #334155;
}

body.dark-mode .theme-btn::after {
    transform: translateX(32px);
    background-color: var(--dm-beige);
}
