
:root {
    --lm-blue: #78899B;
    --lm-yellow: #E5B36A;
    --lm-white: #F2EEEB;
    --lm-text: #241F55;
    --lm-accent: #CDA076;
    --lm-accent-2: #FD5F38;

    --lm-white2: #F8F9FD;
    --lm-white3: #F1F4F9;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
    background: var(--lm-white);
    color: var(--lm-text);
    transition: .3s;
}

body.dark-mode {
    --lm-white: #121212;
    --lm-white2: #1a1a1a;
    --lm-white3: #242424;

    --lm-text: #f5f5f5;
}

