
:root {
    --lm-blue: #78899B;
    --lm-yellow: #E5B36A;
    --lm-white: #F2EEEB;
    --lm-text: #241F55;
    --lm-accent: #CDA076;
    --lm-accent-2: #FD5F38;

    --lm-white2: #F8F9FD;
    --lm-white3: #F1F4F9;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: var(--lm-white);
    color: var(--lm-text);
    transition: .3s;
}

body.dark-mode {
    --dm-darkblue: #011933;
    --dm-navy: #172548;
    --dm-blue: #4B5A83;
    --dm-beige: #A59281;
    --dm-lightbeige: #E9E4DE;
    --dm-gold: #E0C08F;
    --dm-white: #F1E9DC;

    background-color: var(--dm-navy);
}

